<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<% if @user.errors.any? %>
  <%= @user.errors.count %>件のエラーが発生しました
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
<% end %>
